<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <p id="mensaje"></p>
            <a class="navbar-brand" routerLink="/login">
                <i class="fas fa-dice fa-lg me-2"></i> Board Games Fellowship
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-th-large me-1"></i> Explorar Categorías
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" routerLink="grupo_01.html">
                                    <i class="fas fa-chess-knight me-2"></i> Estrategia y Eurogames
                                </a></li>
                            <li><a class="dropdown-item" routerLink="grupo_02.html">
                                    <i class="fas fa-hat-wizard me-2"></i> Juegos Temáticos y Ameritrash
                                </a></li>
                            <li><a class="dropdown-item" routerLink="grupo_03.html">
                                    <i class="fas fa-glass-cheers me-2"></i> Party Games (Juegos de Fiesta)
                                </a></li>
                            <li><a class="dropdown-item" routerLink="grupo_04.html">
                                    <i class="fas fa-hand-spock me-2"></i> Juegos de Cartas y Deckbuilding
                                </a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light ms-lg-3" routerLink="/registro">
                            <i class="fas fa-user-plus me-1"></i> Registro
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/modificar-perfil" class="nav-link btn btn-outline-light ms-lg-3">
                            <i class="fas fa-user-plus me-1"></i> Modificar Perfil
                        </a>
                    </li>
                    <li class="nav-item">
                        <button id="btn_Cerrar_Sesion" class="nav-link btn btn-outline-light ms-lg-3">Cerrar
                            Sesion</button>

                    </li>

                </ul>
            </div>
        </div>
        <script src="js/sesion.js"></script>
    </nav>

    <div class="container text-center py-4">

        <h1>{{tituloPrincipal}}</h1>
        <h2>{{subtitulo}}</h2>
    </div>
</header>



<main class="container text-center my-5">
    <article>
        <h2>Bienvenido al Mundo de los Juegos de Mesa!</h2>
        <p>Aquí encontrarás las mejores opciones para tu próxima partida.</p>
    </article>
</main>



<footer class="bg-dark text-white text-center py-3">
    <p>Derechos de autor © 2025 -@-RVR-@-</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>