<form [formGroup]="registroForm" (ngSubmit)="registrar()">
  <div>
    <h1>Registro de Cuenta</h1>
  </div>

  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre Completo</label>
    <input type="text" class="form-control" id="nombre" formControlName="nombre">
    <div *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched" class="text-danger">
      El nombre es obligatorio y debe tener al menos 3 caracteres.
    </div>
  </div>

  <div class="mb-3">
    <label for="nacimiento" class="form-label">Fecha de Nacimiento</label>
    <input type="date" class="form-control" id="nacimiento" formControlName="nacimiento">
    <div *ngIf="registroForm.get('nacimiento')?.invalid && registroForm.get('nacimiento')?.touched" class="text-danger">
      El nombre es obligatorio y debe tener al menos 3 caracteres.
    </div>
  </div>









  <div class="mb-3">
    <label for="email" class="form-label">Correo Electrónico</label>
    <input type="email" class="form-control" id="email" formControlName="email">
    <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched" class="text-danger">
      Ingresa un correo válido.
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password" formControlName="password">
    <div *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched" class="text-danger">
      La contraseña debe tener al menos 6 caracteres.
      La contraseña no debe exceder los 18 caracteres.
      almeneos 1 de ellos debe ser mayúscula
      almeneos 1 de ellos debe ser un número

    </div>
  </div>

  <div class="mb-3">
    <label for="confirm_password" class="form-label">Confirmar Contraseña</label>
    <input type="password" class="form-control" id="confirm_password" formControlName="confirm_password">
    <div *ngIf="registroForm.errors?.['mismatch'] && registroForm.get('confirm_password')?.touched" class="text-danger">
      Las contraseñas no coinciden.
    </div>
  </div>

  <button type="submit" class="btn btn-success w-100 mt-3" [disabled]="registroForm.invalid">Crear Cuenta</button>
          <div class="my-4">
            <p class="text-center">
                ¿Ya tienes cuenta? <button routerLink="/login" class="btn btn-success w-100 mt-3" >Inicia
                    Sesión</button>
            </p>
            <button type="button" class="btn btn-secondary" (click)="limpiar()">Limpiar</button>
        </div>

</form>