<div class="container mt-5" style="max-width: 400px;">
    <h1>Login - Board Games Fellowship</h1>
    <form id="Formulario_Login">
        <div>
            <h1 class="card-title text-center text-primary mb-4">Iniciar Sesión</h1>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button class="btn btn-primary w-100 mt-3">Entrar</button>

        <div class="my-4">
            <p class="text-center mb-1">
                <a routerLink="/recuperar-contrasena" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
            </p>
            <p class="text-center">
                ¿No tienes cuenta? <a routerLink="/registro" class="text-success text-decoration-none">Regístrate
                    aquí</a>
            </p>

        </div>
    </form>
</div>

<!-- <script src="js/login.js"></script> -->